* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 0 20px 20px 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-detail {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.book-cover {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.book-info {
    flex: 1;
}

.book-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #444;
}

.book-info p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}

.actions-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.like-section {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.like-section span {
    font-size: 15px;
}

.heart-icon {
    background-color: #ffffff;
    width: 70px;
    height: auto;
    padding: 10px;
}

.heart-icon-button {
    border: none;
}

#post-actions {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.post-edit,
.post-delete {
    padding: 5px 10px;
    background-color: #619D6A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-edit:hover,
.post-delete:hover {
    background-color: #508157;
}

.comments-section {
    margin-top: 20px;
}

.comments-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment-nickname,
.comment-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.comment-submit {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #599062;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: #46724E
}

.comment {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.comment p, textarea {
    margin-bottom: 5px;
}

.comment-date {
    color: #999;
    font-size: 0.9em;
}

.comment-actions {
    display: flex;
    gap: 10px;
}

.comment-edit,
.comment-delete {
    padding: 3px 7px;
    background-color: #619D6A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.comment-edit:hover,
.comment-delete:hover {
    background-color: #508157;
}
